.App {
  text-align: center;
}

.loading {
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: spin infinite .5s linear;
    font-size: 3rem;
    margin-top: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
